@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
/* Обнуление */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; */
}


:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

:root {
    --m-green: rgb(51, 131, 48);
    --m-orange: rgb(201, 96, 57);
    --m-black: rgb(17, 14, 14);
}

.app {
    width: 100vw;
    height: 100vh;
    background: var(--m-green);
    display: flex;
    align-items: center;
}

.appWrapper {
    width: 90%;
    height: 90%;
    background: var(--m-black);
    margin: auto auto auto auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.appContain {
    width: 90%;
    height: 90%;
    margin: 0 auto 0 auto;
}

.app_title {
    font-size: 40px;
    color: var(--m-orange);
    text-align: center;
}

.app_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 95%;
}

.app_row .income,
.app_row .expences,
.app_row .balance {

    width: 335px;
    height: 100%;
    margin: 40px 0px 0px 0px;
}

.balance {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.balance_bill {
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 30px;
}

.balance_row {
    display: flex;
    justify-content: space-around;
}

.balance_row_income {
    color: var(--m-green);
    font-size: 20px;
    line-height: 30px;
}

.balance_row_expence {
    color: var(--m-orange);
    font-size: 20px;
    line-height: 30px;
}

.income_input {
    width: 90%;
    background: inherit;
    color: white;
    font-size: 17px;
    margin: 0px 0px 20px 0px ;
    padding: 0px 0px 5px 0px ;
    transition:all 0.3s ease;
    border-bottom:1px solid bisque;
}
.income_input:focus{
    border-bottom:1.5px solid var(--m-green);
}
.income_input::placeholder{
    color: white;
}
.income_btn{
    width: 100px;
    font-size: 15px;
    background: var(--m-green);
    color: white;
    border-radius: 8px;
    display: flex;align-items: center;justify-content: center;
    height: 30px;
    margin: 20px 0px 0px 0px ;
}
.expence_btn{
    background: var(--m-orange);
}
.expence input:focus{
    border-bottom:1.5px solid var(--m-orange);
}

.expenceItem{
    display: flex;
    justify-content: space-between;
    align-items:  flex-end;
}
.expenceItem_text{
    color: white;
    font-size: 17px;
    margin: 20px 0px 0px 0px ;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    background: var(--m-orange);
}
.incomeItem_text{
    background: var(--m-green);
}
.expenceItem_delete{
    color: rgb(180, 42, 42);
    font-size: 20px;
    margin: 0px 0px 5px 0px ;
    cursor: pointer;
}
.noTodo{
    margin: 20px 0px 0px 0px ;
    font-size: 18px;
    color: white;
}